<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Código QR</title>
    </head>
    <body>
        <h1 style="text-align: center;">Qr Codegenerado con Spring boot</h1>

        <div style="width:40%;display: inline-block">
            <h3>Qr Code usando Byte Array</h3>
            <p>Data : <span th:text="${gqpsystem}"></span></p>
            <img th:src="${'data:image/png;base64,' + qrcode}" alt="" height="250" width="250">
        </div>

        <div style="width:40%;display: inline-block;">
            <h3>Qr Code como un Image</h3>
            <p>Data : <span th:text="${oscargithub}"></span></p>
            <img th:src="@{/img/QRCode.png}" height="250" width="250"/>
        </div>
        <p>Note : Clase a personalizar es QRCodeGenerator </p>

    </body>
</html>